<footer style="overflow: hidden">
  <nav class="navbar navbar-default navbar-static-bottom" style="padding:0px 0px 40px 0px">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h5 id='footer-header'>SITEMAP</h3>
          <div class="col-sm-4 no-padding">
            <p>News</p>
            <p>Contact</p>
          </div>
          <div class="col-sm-4 no-padding">
            <p>FAQ</p>
            <p>Privacy Policy</p>
          </div>
        </div>
        <div class="col-sm-4">
          <h5 id='footer-header'>xxxx</h3>
          <p>yyyyyyyyyyyyy</p>
        </div>
        <div class="col-sm-4">
          <h5 id='footer-header'>xxxxx</h3>
          <p>uuuuuuuuuuuuuuu</p>
        </div>
      </div>
    </div>
  </nav>
</footer>